@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "MaisonNeue";
  src: url(./assets/font/Maison-Neue.ttf) format("truetype");
}

@font-face {
  font-family: "MaisonNeueDemi";
  src: url(./assets/font/MaisonNeue-Demi.ttf) format("truetype");
}

@font-face {
  font-family: "MaisonNeueMedium";
  src: url(./assets/font/MaisonNeue-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "MaisonNeueBook";
  src: url(./assets/font/MaisonNeue-Book.ttf) format("truetype");
}

@font-face {
  font-family: "MaisonNeueLight";
  src: url("./assets/font/MaisonNeue-Light.otf") format("truetype");
 }

@font-face {
  font-family: "SohneSchmal";
  src: url(./assets/font/TestSohneSchmal-Dreiviertelfett-BF663d89cad1b90.otf)
    format("opentype");
}
.font-maisonNeue {
  font-family: "maisonNeue" !important;
}
.font-maisonNeueDemi {
  font-family: "maisonNeueDemi" !important;
}
.font-maisonNeueMedium {
  font-family: "maisonNeueMedium" !important;
}
.font-maisonNeueBook {
  font-family: "maisonNeueBook" !important;
}
.font-maisonNeueLight {
  font-family: "maisonNeueLight" !important;
}
.font-sohneSchmal {
  font-family: "SohneSchmal" !important;
}
