@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MaisonNeue";
  src: url(./assets/font/Maison-Neue.ttf) format("truetype");
}
@font-face {
  font-family: "MaisonNeueMedium";
  src: url(./assets/font/MaisonNeue-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "MaisonNeueLight";
  src: url("./assets/font/MaisonNeue-Light.otf") format("truetype");
}
@font-face {
  font-family: "SohneSchmal";
  src: url("./assets/font/sohne-schmal-fett.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SohneSchmal";
  src: url("./assets/font/soehne-schmal-dreiviertelfett.woff2")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "space-mono";
  src: url("./assets/font/SpaceMono-Regular.ttf") format("truetype");
 }
.font-maisonNeue {
  font-family: "maisonNeue" !important;
}
 
.font-maisonNeueMedium {
  font-family: "maisonNeueMedium" !important;
}
 
.font-maisonNeueLight {
  font-family: "maisonNeueLight" !important;
}
.font-sohneSchmal {
  font-family: "SohneSchmal" !important;
}
.font-spaceMono {
  font-family: "space-mono" !important;
}
